<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.etime.tyh.manager.dao.mapper.SysrolefunMapper" >
  <resultMap id="BaseResultMap" type="edu.etime.tyh.pojo.Sysrolefun" >
    <id column="rfid" property="rfid" jdbcType="VARCHAR" />
    <result column="funid" property="funid" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rfid, funid, roleid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sysRoleFun
    where rfid = #{rfid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sysRoleFun
    where rfid = #{rfid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.etime.tyh.pojo.Sysrolefun" >
    insert into sysRoleFun (rfid, funid, roleid
      )
    values (#{rfid,jdbcType=VARCHAR}, #{funid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.etime.tyh.pojo.Sysrolefun" >
    insert into sysRoleFun
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rfid != null" >
        rfid,
      </if>
      <if test="funid != null" >
        funid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rfid != null" >
        #{rfid,jdbcType=VARCHAR},
      </if>
      <if test="funid != null" >
        #{funid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.etime.tyh.pojo.Sysrolefun" >
    update sysRoleFun
    <set >
      <if test="funid != null" >
        funid = #{funid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
    </set>
    where rfid = #{rfid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.etime.tyh.pojo.Sysrolefun" >
    update sysRoleFun
    set funid = #{funid,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=VARCHAR}
    where rfid = #{rfid,jdbcType=VARCHAR}
  </update>
</mapper>